/* ページ全体の設定 */

body {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


/* コンテナ */

.container {
    max-width: 1178px;
    height: 100%;
    margin: 0 auto;
}


/* ヘッダー */

header {
    background-color: #2a7eb1;
    height: 70px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    justify-content: space-between;
}

header li {
    color: #ffffff;
    margin-left: 30px;
    letter-spacing: 0.075em;
    font-family: 游ゴシック;
}


/* ヒーローイメージ */

.hero {
    background-image: url("img/hero_image.png");
    height: 270px;
}


/* 記事一覧 */

.title {
    display: flex;
    align-items: center;
    height: 146px;
}

.title h2 {
    font-family: 游ゴシック;
    font-size: 36px;
    letter-spacing: 0.025em;
    margin: 0;
    padding-left: 20px;
}

.title span {
    display: block;
    width: 6px;
    height: 26px;
    background-color: #2a7eb1;
}