/* ページ全体の設定 */

body {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


/* コンテナ */

.container {
    max-width: 1180px;
    height: 100%;
    margin: 0 auto;
}


/* ヘッダー */

header {
    background-color: #2a7eb1;
    height: 70px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    justify-content: space-between;
}

header li {
    color: #ffffff;
    margin-left: 30px;
    letter-spacing: 0.075em;
    font-family: 游ゴシック;
}


/* ヒーローイメージ */

.hero {
    background-image: url("img/hero_image.png");
    height: 270px;
}


/* 記事一覧 */

.title {
    display: flex;
    align-items: center;
    height: 146px;
}

.title h2 {
    font-family: 游ゴシック;
    font-size: 36px;
    line-height: 1.75;
    letter-spacing: 0.025em;
    margin: 0;
    padding-left: 20px;
}

.title span {
    display: block;
    width: 6px;
    height: 26px;
    background-color: #2a7eb1;
}

.note-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 110px;
}

.note-items li {
    width: 360px;
    height: 360px;
    padding: 20px;
    margin-bottom: 50px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(17, 51, 72, 0.2);
}

.note-items img {
    width: 320px;
    height: 200px;
    margin-bottom: 20px;
    vertical-align: bottom;
}

.note-items p {
    margin: 0;
    font-family: 游ゴシック;
    font-size: 16px;
    line-height: 1.5;
    color: #3c3c3c;
    /* letter-spacing: 0.075em; */
}


/* フッター */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b3b3b3;
    height: 64px;
}

footer p {
    font-family: 游ゴシック;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.075em;
    color: #3c3c3c;
}